.title {
	color: black;
    font-family: Palatino;
    font-size: 300%;
    margin-bottom: 2cm;
}

.blogtitle {
	color: black;
    font-family: cursive;
    font-size: 250%;
    margin-bottom: 0cm;
}

.blogsubtitle {
	color: black;
    font-family: Palatino;
    font-size: 50%;
    margin-top: 0cm;
    margin-bottom: 2cm;
}

.blogentryheader {
	color: black;
	font-family: Palatino;
	font-size: 150%;
	margin-bottom: 0cm;
}

.blogentrydate {
	color: black;
	font-family: cursive;
	font-size: 70%;
	margin-top: 0cm;
	margin-bottom: 1cm;
}

.blogentry {
	color: black;
	font-family: Palatino;
}

.me {
	
    float: left;
    height: 200px;
}

.text {
	color:black;
	font-family: Big Caslon;
	font-size: 120%;
	float: right;
}

.images {
	margin-top: 10cm;
	margin-right: auto;
	margin-left: auto;
	vertical-align: middle;
	float: right;
}

