.title {
	color: black;
    font-family: Herculanum;
    font-size: 350%;
    margin-bottom: 2cm;
}

.main {
	color: black;
    font-family: Big Caslon;
    font-size: 100%;
    margin-bottom: 2cm;
}

